.hamburger {
    width: 45px;
    height: 45px;
/*    background-color: #343434;*/
    position: relative;
}

.hamburger span {
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    background-color: #b3fcff;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s;
}

.hamburger span::before,
.hamburger span::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #b3fcff;
    transition: all .3s;
}

.hamburger span::before {
    top: -10px;
}

.hamburger span::after {
    /*            top: 10px;*/
    bottom: -10px;
}

.hamburger-x span {
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hamburger-x span::before,
.hamburger-x span::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #b3fcff;
}

.hamburger-x span::before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger-x span::after {
    transform: rotate(-45deg);
    bottom: 0;
}